$padWidth: 5rem;
$padHeight: 5rem;
$fontSize: 18px;

@media screen and (max-width: 767px) and (min-width: 480px) {
  $fontSize: 12px;
  * {
    font-size: $fontSize;
  }
}
@media screen and (max-width: 479px) {
  $fontSize: 11px;
  $padWidth: 6rem;
  $padHeight: 6rem;
  * {
    font-size: $fontSize;
  }
  #drum-machine {
    height: 35rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .pad-kit {
    margin-bottom: 0.5rem;
  }
  .drum-pad {
    width: $padWidth !important;
    height: $padHeight !important;
  }
}
