@import 'variables';

.drum-pad {
  margin: auto;
  width: $padWidth;
  height: $padHeight;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:focus {
  outline: 0;
}
