.control {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    position: absolute;
    margin-top: -0.85rem;
    font-size: 1rem;
  }
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;

  width: 2.5rem;
  height: 1.5rem;
  margin-bottom: -1rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid gray;
}

.slider-before {
  position: absolute;
  content: '';
  height: 1.1rem;
  width: 1rem;
  left: 1.25rem;
  bottom: 0.2rem;
  background-color: white;
  box-shadow: 0 0 1px #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 1;
}
.checked {
  -webkit-transform: translateX(-1rem);
  -ms-transform: translateX(-1rem);
  transform: translateX(-1rem);
  background-color: red;
}

.bgChange {
  background-color: #ffffff;
  box-shadow: 0 0 1px red;
}
