@import 'Components/Styles/variables';
* {
  touch-action: manipulation;
  font-size: $fontSize;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  background-color: #004466;
  font-family: 'Roboto', sans-serif;
}
